@page

    <body>
        <canvas id="canvas" width="800" height="800"></canvas>
        <br />
        <input type="button" value="Play" onclick="sendPlay()" id="play" />
        <input type="button" value="Pause" onclick="sendPause()" id="pause" />
        <input type="button" value="Reset" onclick="sendReset()" id="reset" />

        <script src="js/jscolor.js"></script>

        Color:
        <input class="jscolor" value="ab2567" id="selectedColor">

    </body>


    <script src="~/js/signalr/dist/browser/signalr.js"></script>

    <script id="jsbin-javascript">
       
        var connection = new signalR.HubConnectionBuilder().withUrl("/gameHub").build();

        connection.start().then(function () {
            console.log("connected");
        });

        let server = connection.server;
        let canvas  = document.getElementById("canvas"),
        c = canvas.getContext("2d");
        canvas.addEventListener('click', handleClick);

        function drawBox() {
            c.beginPath();
            c.fillStyle = "white";
            c.lineWidth = 3;
            c.strokeStyle = 'black';
            for (var row = 0; row < 16; row++) {
                for (var column = 0; column < 16; column++) {
                    var x = column * 50;
                    var y = row * 50;
                    c.rect(x, y, 50, 50);
                    c.fill();
                    c.stroke();
                }
            }
            c.closePath();
        }

        function handleClick(e) {
                var selectedColor = document.getElementById("selectedColor").value;
                c.fillStyle = "#" + selectedColor;

                c.fillRect(Math.floor(e.offsetX / 50) * 50,
                    Math.floor(e.offsetY / 50) * 50,
                    48, 48);
        }

        function sendPlay() {
            document.getElementById("play").addEventListener();
        }
                
        function sendPause() {

        }

        function sendReset() {

        }

        drawBox();

    </script>
